*{
        margin: 0 auto;
        margin-bottom: 10px;
        -webkit-border-radius : 5px;
        -moz-border-radius : 5px;
        text-align: center;

}

html{
    background: whitesmoke;
}

body{
    font-size: 1.2em;
    width: 800px;
    padding: 10px 10px 10px 15px;
    border: 10px solid lightcyan;
    -webkit-border-radius : 2px;
    -moz-border-radius : 2px;
    background: cornsilk;
}
form{

    background: cornsilk;
    width: 700px;
    border: 3px solid gray;

}
div{
    margin-left: 10px ;
    margin-right: 10px;
    margin-top: 10px;
    border: 2px solid gray;
}
a
{

    font-size: 1.1em;
}
p{
    margin-top: 5px;
    -webkit-border-radius : 2px;
    -moz-border-radius : 2px;
    padding: 5px;

}
.kaku
{

}
.name
{
        display: flex;
        margin-right: 10px;

}
.name2
{
    margin-left: -30px; 
}
.address{
    height: 90px;
}
.denwa{
    margin:0px 15px -50px ;
}
.mail{
    margin: 0px 15px -50px ;
}
.button{
        display: flex;
}
.kakunin, .return
{

    font-size: 1em;
    background-color: orange;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 25px;;
}
