*
{
    margin: 15px;
}
body
{
    background: white;
}
form
{
    background-color: Cornsilk;
    width: 650px;
    border: 3px solid gray;
}
div
{
    border: 2px solid Lightgray;
}
p
{
    padding: 5px;

}
.name
{
    display: flex;
    margin: 15px 15px -25px;
}
.address
{
    height: 90px;
}
.denwa
{
    margin:0px 15px -50px ;
}
.mail
{
    margin: 0px 15px -50px ;
}
