*
{

    text-align: center;
background: cornsilk;
    font-size: 1.3em;
    padding: -10 -10 -10 -10;
    margin: 0 auto;
}
a
{

    color: red;
}
h1
{
    font-size: 1.5em;
    margin-bottom: 20px;
}
