*
{

    text-align: center;
    border: 2px solid gray;
    font-size: 1.06em;
    padding: -10 -10 -10 -10;
    margin: 0 auto;
}
h1
{
    font-size: 1.5em;

}
body
{
    -webkit-border-radius : 10px;
    -moz-border-radius : 10px;
    border: 3px;
    color: black;
}
tr
{
    -webkit-border-radius : 5px;
    -moz-border-radius : 5px;
    border: 1px solid black;
    background-color: cornsilk;
}
